/* styles.css */

/* Default styles for the webpage */
body {
    margin: 0;
    width: 100%;
}

/* Custom CSS Styles */
.container {
    margin-top: 50px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #333;
    padding: 10px; /* Adjust padding for navbar items */
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.bar {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

.text-color {
    color: blue;
}

.custom-margin {
    margin: 30px;
}

/* Adjustments for smaller screens */
@media (max-width: 576px) {
    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        display: inline-block;
        margin-right: 10px;
    }
    .navbar-toggler {
        float: none;
        clear: both;
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .card {
        width: 100%;
    }
}
