body {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* or any percentage or fixed width you want */
}

/* Custom CSS Styles */
.container {
    margin-top: 50px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.bar {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

.text-color {
    color: blue;
}

.custom-margin {
    margin: 30px;
}

/* Media Query for Phones */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .navbar-brand {
        margin-left: 10px; /* Adjust as needed for smaller screens */
    }
    .navbar-nav .nav-link {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    .custom-margin {
        margin: 20px; /* Adjust margin for smaller screens */
    }
}