body {
    font-family: 'Lab Grotesque', sans-serif;
    position: relative;
    z-index: 1; /* Set a z-index value higher than the navbar */
}

a {
    text-decoration: none;
    color: inherit;
    border: none; /* Use the default text color */
}

footer {
    padding: 125px;
    justify-content: center;
}

.section-title {
    font-size: 1.65rem;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -.0026em;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

iframe {
    max-width: 100%;
    width: 600px;
    height: 500px;
}

/* Nav */ 
.navbar-brand img{
    width: 35px;
}

.navbar {
    transition: top 0.3s ease-in-out; 
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    top: 0;
}

.navbar.nav-up {
    top: -100px; 
}

.navbar.nav-down {
    top: 0;
}
/* End Nav */

/* Languages and Software */
#languages, #software {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

#languages h2, #software h2 {
    font-size: 1.65rem;
    margin-bottom: 30px;
    color: #111;
}

#languages .grid-container, #software .grid-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

#languages .grid-container > *, #software .grid-container > * {
    flex: 1 1 calc(20% - 50px); 
    max-width: calc(20% - 50px); 
    box-sizing: border-box; 
}

#software .grid-container > * {
    flex: 1 1 calc(25% - 50px); 
    max-width: calc(25% - 50px); 
    box-sizing: border-box; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 3em; 
    height: 3em;
    transition: transform 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    transform: scale(1.1) translateY(-5px);
}

@media (max-width: 600px) {
    #languages .grid-container, #software .grid-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px; 
    }

    #languages .grid-container > *, #software .grid-container > * {
        flex: 1 1 calc(50% - 50px); 
        max-width: calc(50% - 50px); 
        box-sizing: border-box; 
    }
    .grid-item {
        width: 50px;
    }

    .grid-item img,
    .grid-item .iconify-icon {
        width: 40px;
        height: 40px;
    }

    .grid-item p {
        font-size: 0.875rem;
    }
}
/* End Languages and Software */

/* Cards */
section {
    margin-bottom: 40px;
}

.section-title {
    flex-grow: 1;
}

.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; /* Ensure the cards don't shrink or grow */
    position: relative;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease; /* Add transition for background color */
}

.card:hover {
    background-color: #333; /* Darker background on hover */
}

.card-image {
    aspect-ratio: 7.5 / 10;
    position: relative;
    overflow: hidden; /* Ensure that the pseudo-element stays within the bounds of .card-image */
    background-image: url('your-image-url.jpg'); /* Set your image URL */
    background-size: cover;
    background-position: center;
}

.card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Add transition for smooth effect */
}

.card:hover .card-image::before {
    transform: scale(1.1); /* Zoom in by 10% on hover */
    -webkit-transform: scale(1.1); /* Zoom in by 10% on hover */
}

.card-label,
.card-content {
    position: absolute;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
    opacity: 1; /* Ensure visible by default */
    transition: opacity 0.3s ease; /* Smooth transition for text visibility */
}

.card-label {
    top: 10px;
    left: 10px;
}

.card-content {
    bottom: 10px;
    left: 10px;
}

.card-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1em;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth transition for text visibility */
    pointer-events: none; /* Prevent interaction */
}

.card:hover .card-content,
.card:hover .card-label {
    opacity: 0; /* Hide original text on hover */
}

.card:hover .card-hover-text {
    opacity: 1; /* Show new text on hover */
}

/* Responsive Styles */
@media (max-width: 1000px) {
    .card-container {
        gap: 15px; /* Reduce gap between cards on smaller screens */
    }

    .card {
        width: 250px; /* Adjust card width for smaller screens */
    }
}

@media (max-width: 480px) {
    .card-container {
        gap: 10px; /* Further reduce gap between cards on very small screens */
    }

    .card {
        width: 60%; /* Make cards take the full width on very small screens */
        max-width: 300px; /* Ensure cards don't exceed their original width */
    }
}

@media (min-width: 769px) {
    .card {
        width: calc((100% - 40px) / 3); /* Subtract 20px per gap */
    }
}
/* End Cards */

/* Get in Touch */
.intro-link {
    text-decoration: none; 
    color: black; /* Change color to black */
}

.intro-link:hover {
    color: black; /* Change color to black */
}

.intro-info {
    padding-top: 70px;
}

.intro-info img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: .9rem 0 0 0;
    float: left;
}

.intro-info .lead {
    text-align: left;
}

.fzkLtX {
    box-shadow: rgb(255, 159, 28) 0px -0.5rem 0px inset;
    transition: box-shadow 0.3s ease-out 0s;
}

.h3 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

.intro-info .h1 {
    text-align: left;
}

.intro-info .h2 {
    text-align: left;
}

.intro-info .h5 {
    text-align: left;
}
/* End Get In Touch */


/* Projects */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    padding-top: 70px;
}

.projects-container .container {
    padding: 90px;
    max-width: 800px;
}

.projects-container .header {
    margin-bottom: 40px;
    text-align: center;
}

.projects-container .header p {
    font-size: 14px;
    color: #666;
    margin: 0;
    text-align: center;
}

.projects-container .content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-container h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.projects-container p {
    margin-bottom: 20px;
    font-size: 16px;
}

.projects-container ul, .projects-container ol {
    margin-bottom: 20px;
}

.projects-container li {
    margin-bottom: 10px;
}

.projects-container .projects-img {
    text-align: center;
    margin-bottom: 20px;
}

.projects-container .projects-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-container blockquote {
    background: #eee;
    padding: 10px 20px;
    margin: 20px 0;
    border-left: 5px solid #ccc;
    font-style: italic;
}

.projects-container h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}
/* End Projects */

/* MOBILE CSS */
@media only screen and (max-width: 767px) {
    body {
        width: 100%;
    }

    .intro-info img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin: .9rem 0 0 0;
        float: left;
    }

    .intro-info .lead {
        text-align: left;
        padding-left: 7rem;
        font-size: 1rem;
    }

    .navbar-nav .nav-link {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    iframe {
        max-width: 100%;
        height: 70vw;
    }

    .projects-container .container {
        padding: 1.5rem;
        max-width: 90%;
        padding-top: 50px;
    }
}
